/*
 * Default WordPress styling
 *
 * @author 		Theme.al
 * @package 	basicstore
 * @version   1.0.0

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Typography
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

 img[class*="wp-image-"],
 .widget img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 1.25em;
}



/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	word-wrap: break-word;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}


/* Calendar widget */
.calendar_wrap {
	overflow-x: auto;
	min-height: 0.01%;
}

#wp-calendar {
	width:100%;
	/*font-size:12px;*/
	font-weight:300;
	border-collapse:separate;
	border-spacing:8px;
	margin-left:-2px;
}

	#wp-calendar caption {
		/*display:none;*/
		text-align: center;
	}

	#wp-calendar tbody td {
		margin-bottom:10px;
		text-align:center;
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		-ms-border-radius:2px;
		-o-border-radius:2px;
		border-radius:2px;
		border:1px solid #f4f4f4;
		padding:2px;
	}

		#wp-calendar tbody td:hover {
			border-color:#e2e2e2;
		}

		#wp-calendar tbody td.pad {
			border:0;
		}

		#wp-calendar tbody td#today {
			color:#47C2DC;
			border-color:#47C2DC;
		}

		#wp-calendar tfoot td#prev a,
		#wp-calendar tfoot td#next a {
			color:#888;
			font-size:12px;
			font-weight:400;
			position:relative;
			text-transform:uppercase;
			bottom:-9px;
			margin-bottom:1px;
		}

		#wp-calendar tfoot td#prev {
			text-align:left;
		}

		#wp-calendar tfoot td#next {
			text-align:right;
		}

		#wp-calendar thead th {
			/*font-size:13px;*/
			/*font-weight:bold;*/
			/*color:#888;*/
			text-align:center;
			/*padding-bottom:10px;*/
		}

		#wp-calendar tbody td a,
		#wp-calendar tfoot td#prev a:hover,
		#wp-calendar tfoot td#next a:hover {
			color:#47C2DC;
		}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky,
.category-sticky {
	display: block;
	border:1px solid #ddd;
	border-radius:4px;
	padding: 20px;
	padding-top: 5px;
}

.hentry {
	word-wrap: break-word;
	margin: 0 0 3em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer {
	margin: .25em 0 0;
}

.entry-footer > span {
	margin-right: 20px;
}

.pull-left .wp-post-image {
	margin-right: 20px;
	margin-bottom: 15px;
}

.entry-meta {
	font-style: italic;
}


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
	color: #999;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

/* Tables */
table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

/* Page links */
.page-links {
}

.page-links a {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 3px 6px;
}

.page-links a:hover {
	background: #eee;
	text-decoration: none;
}

/* Nav Link */
.nav-links {
}

.nav-links .nav-previous a,
.nav-links .nav-next a{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px 8px;
}

.nav-links .nav-previous a:hover,
.nav-links .nav-next a:hover {
	background: #eee;
	text-decoration: none;
}

.nav-links .nav-previous {
	float: right;
}

.nav-links .nav-next {
	float: left;
}
